body {
  font-size: 16px;
  color: #fff;
  background-color: #324543;
  font-family: 'Oxygen', sans-serif;
}
.para{
	background-color:#435622;
	margin:20px;
	padding: 10px;
	height:9cm;
	font-family:;
}
.text-center{
	font-weight:bold;
	font-size:30px;
}
.icon-bar{
	text-align:center;
	color:#121212;
	background-color:green;
}
#nav-list{
	margin-top:10px;
}
#nav-list a{
	  color:#951c49;
	  text-align:center;
}
#nav-list a: {
	background: orange;
}